<?xml version="1.0" encoding="UTF-8"?>
<routes xmlns="http://camel.apache.org/schema/spring">

    <route id="toUfos">
        <from uri="activemq:queue:ufosAdapterInboundQueue"/>
        <transacted/>
        <to uri="log:ru.otr.integration.smev3client.ufosadapter?level=DEBUG&amp;showAll=true&amp;multiline=true"/>
        <to uri="activemq:queue:ufosAdapterOutboundQueue"/>
    </route>

    <route id="test">
        <from uri="scheduler://foo?initialDelay=10s&amp;delay=10s"/>
        <transacted/>
        <!--<to uri="log:ru.otr.integration.smev3client.ufosadapter?level=DEBUG&amp;showAll=true&amp;multiline=true"/>-->
        <to uri="activemq:queue:ufosAdapterInboundQueue"/>
    </route>

</routes>