<?xml version="1.0" encoding="UTF-8"?>
<routes xmlns="http://camel.apache.org/schema/spring">

    <route id="toUfos" errorHandlerRef="transactionErrorHandlerBuilder">
        <from uri="{{routes.toUfos.inboundQueue}}"/>
        <transacted/>
        <to uri="{{routes.log}}"/>
        <to uri="{{routes.toUfos.outboundQueue}}"/>
    </route>

    <route id="fromUfos" errorHandlerRef="transactionErrorHandlerBuilder">
        <from uri="{{routes.fromUfos.inboundQueue}}"/>
        <transacted/>
        <to uri="{{routes.log}}"/>
        <to uri="{{routes.fromUfos.outboundQueue}}"/>
    </route>

</routes>