<?xml version="1.0" encoding="UTF-8"?>
<routes xmlns="http://camel.apache.org/schema/spring">

    <route id="toUfos" errorHandlerRef="transactionErrorHandlerBuilder">
        <from uri="{{routes.toUfos.inboundQueue}}"/>
        <transacted/>
        <to uri="{{routes.log}}"/>
        <log loggingLevel="DEBUG" logName="metrics" message="ping"/>
        <to uri="{{routes.toUfos.outboundQueue}}"/>
    </route>

    <route id="fromUfos" errorHandlerRef="transactionErrorHandlerBuilder">
        <from uri="{{routes.fromUfos.inboundQueue}}"/>
        <transacted/>
        <to uri="{{routes.log}}"/>
        <log loggingLevel="DEBUG" logName="metrics" message="ping"/>
        <to uri="{{routes.fromUfos.outboundQueue}}"/>
    </route>

    <!--<route id="callbackFromUfos" errorHandlerRef="transactionErrorHandlerBuilder">
        <from uri="{{routes.callback.inbound.inboundQueue}}"/>
        <transacted/>
        <to uri="{{routes.log}}"/>
        <to uri="{{routes.callback.inbound.bpmnQueue}}"/>
    </route>

    <route id="callbackReturnToUfos" errorHandlerRef="transactionErrorHandlerBuilder">
        <from uri="{{routes.callback.outbound.bpmnQueue}}"/>
        <transacted/>
        <to uri="{{routes.log}}"/>
        <to uri="{{routes.callback.outbound.outboundQueue}}"/>
    </route>-->

</routes>